<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <button class="popover-trigger">Show profile</button>
    <div class="popover-content hide">
      <h3>John Doe</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum error
        repudiandae cum soluta ipsa impedit corporis eaque ab, voluptate a natus
        cumque voluptates ex adipisci sit saepe dolore eos nihil.
      </p>
    </div>
    <div class="overlay hide"></div>

    <script src="./script.js"></script>
  </body>
</html>
