* {
    margin: 0px;
    padding: 0px;
    font-family: "Space Mono";
}

:root {
    --green-400: hsl(172, 67%, 45%); /* #26C2AE */
    --green-900: hsl(183, 100%, 15%); /*  */
    
    --grey-50: hsl(189, 47%, 97%); /* #F3F9FA */
    --grey-200: hsl(185, 41%, 84%); /*  */
    --grey-400: hsl(184, 14%, 56%); /*  */
    --grey-500: hsl(186, 14%, 43%); /*  */
    --grey-900: hsl(183, 100%, 15%); /* #00474B */

    --white: hsl(0, 100%, 100%);
}

/* 

-> Breakpoints
640px
768px
1024px
1280px
1536px

-> Font weights
700

*/

body {
    background-color: var(--grey-200);
}

section {
    margin-top: 50px;
}

/* --- Common --- */
.standard-label {
    font-weight: 700;
    font-size: 16px;
    color: var(--grey-500);
    margin-bottom: 6px;
}

.label-container {
    display: flex;
    justify-content: space-between;
}

.standard-input {
    line-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    color: var(--grey-900);
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--grey-50);
    border-width: 2px;
    border-color: var(--grey-50);
    border-style: solid;
    border-radius: 5px;
    outline: none;
}

.standard-input-error {
    color: #E17457;
    font-weight: 700;
    display: none;
}

.standard-input:hover {
    border-color: var(--green-400);
}

.input-container {
    position: relative;
}

.input-icon-left {
    position: absolute;
    left: 20px;
    top: 18px;
}

.hide {
    display: none;
}

/* --- Section ---- */
/* upside down */
.page-logo {
    display: block;
    /* functioneaza doar pe elementele block */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.calculator-container {
    background-color: var(--white);
    padding: 32px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.calculator-container form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.tip-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tip-button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.selected-tip {
    background-color: var(--green-400);
    color: var(--grey-900);
}

/* --- Reset Button --- */
.reset-button, .calculate-button {
    border: none;
    cursor: pointer;
    background-color: var(--green-400);
    color: var(--green-900);
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.reset-button:disabled {
    background-color: hsl(183, 79%, 24%);
}

/* --- History --- */
.history-container {
    margin-top: 48px;
    background-color: var(--white);
    padding: 32px;
    border-radius: 25px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
}

.history-table tr:not(.head-row) {
    border-top-width: 1px;
    border-top-color: var(--grey-200);
    border-top-style: solid;
}

.history-table td {
    text-align: center;
    padding: 8px;
}

.history-table th {
    padding: 8px;
}

@media (min-width: 768px) {
    .calculator-container {
        display: flex;
        gap: 32px;
        border-radius: 25px;
    }
    .calculator-container form {
        flex: 1;
        gap: 40px;
    }
    .tip-buttons-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .results-container {
        flex: 1;
    }
}