/* '*' selector universal 
* il folosim ca sa stergem toate marginile default
*/
*{
    margin:0px;
    font-family: 'Outfit';
}
:root {
    --white: hsl(0, 0%, 100%);
    

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}
.page-body{
    background-color: var(--stone-100);
}
.recipe-card-container {
    width: 700px;
    background-color: var(--white);
    padding: 36px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.recipe-card-image{
    width: 100%;
}
.recipe-card-title{
    margin-top: 36px;
}
.recipe-card-paragraph{
    margin-top: 36px;
    margin-bottom: 25px;
}
.recipe-card-h4{
   color: var(--rose-800);
   font-size: 25px;
   margin-bottom: 25px;
    
}
.recipe-card-li{
    margin-bottom: 15px;
}
.recipe-card-preparation-time{
    background-color: var(--rose-50);
    padding: 20px;
    border-radius: 20px;
    font-family: Young serif;
}

/* Selector de CSS */
.recipe-card-preparation-time h4 {
    color: red;
}

.recipe-card-preparation-time span {
    font-weight: 600;
}

.Ingredients{
    font-family: Young serif;
    color: var(--brown-800);
    font-size: 25px;
    margin-bottom: 20px;
}
.container2{
    background-color: var(--white);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
}
.list-ingredients{
    padding-bottom: 15px;

}
.list-ingredients1{
    padding-bottom: 40px;
}
.bold{
    font-weight:bold ;
    font-size: 15px;
    color:var(--stone-600);
    font-family: Young serif;
}
/* .bold2{
    font-weight:bold ;
    font-size: 15px;
    color:var(--stone-600);
    font-family: Young serif;
}
.bold3{
    font-weight:bold ;
    font-size: 15px;
    color:var(--stone-600);
    font-family: Young serif;
} */

.ol{
    padding-bottom: 10px;
}
.ol1{
    padding-bottom: 40px;
}
.instructions{
    font-family: Young serif;
    color: var(--brown-800);
    font-size: 25px;
    margin-bottom: 20px;
}
.bold4{
    font-weight:bold ;
    font-size: 15px;
    color:var(--stone-600);
    font-family: Young serif;
}
.Nutrition{
    font-family: Young serif;
    color: var(--brown-800);
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.paragraph{
    margin-bottom: 25px;
}
table{
    border-collapse: collapse;
    font-family: Outfit ;
}
td{
    padding: 10px;
    padding-left: 50px;
    padding-right: 40px;
}
.td1{
    color: var(--brown-800);
    border-bottom: 2px solid var(--stone-150);
    font-size: 20px;
}
.td2{
    color: var(--stone-600);
    border-bottom: 2px solid var(--stone-150);
    font-size: 20px;
}
.td3{
    color:var(--stone-600);
    font-size: 20px;
    
   
}
.td4{
    color: var(--brown-800);
    font-size: 20px;
}
.p-time li::marker{
    color: var(--rose-800); 
}
ol li::marker, ul li::marker{
    color: var(--brown-800);
}

ol li::marker{
    color: var(--brown-800);
}

ul li::marker {
    color: var(--brown-800);
}

ul{
    list-style-type: square;
}
ol{
    list-style-type: square;
}

